#steps {
  .container {
    .content {
      padding: 96px 80px;
      background: url(../images/steps/steps-bg.png) center/cover;

      @media (max-width: 767px) {
        padding: 64px 32px;
      }

      @media (max-width: 575px) {
        background: url(../images/steps/steps-bg-sm.png) center/cover;
        padding: 3rem 1rem;
      }

      .shape-line {
        position: relative;
        width: 760px;
        max-width: 90%;
        margin-bottom: 79px;
        margin-left: 15.5px;

        @media (max-width: 767px) {
          width: 530px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 50%;
          left: 0px;
          transform: translateY(50%);
          z-index: 10;
          width: 100%;
          height: 2px;
          background-color: var(--accent);
        }

        .left-circle {
          position: absolute;
          z-index: 1;
          bottom: 50%;
          left: -15.5px;
          transform: translateY(50%);
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid var(--green-500);
        }

        .mid-circle {
          position: absolute;
          z-index: 1;
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid var(--green-500);
        }

        .right-circle {
          position: absolute;
          z-index: 1;
          bottom: 50%;
          right: -15.5px;
          transform: translateY(50%);
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid var(--green-500);
        }
      }

      .boxes {
        gap: clamp(2rem, 7vw, 95px);
        max-width: 1045px;

        @media (max-width: 767px) {
          gap: 2rem;
        }

        @media (max-width: 575px) {
          gap: 40px;
        }

        .box {
          gap: 40px;
          flex: 1;

          @media (max-width: 767px) {
            gap: 24px;
          }

          h5 {
            color: var(--accent);
            font-weight: 900;
            font-size: 72px;
            line-height: 100%;
          }

          h3 {
            color: var(--secondary);
            font-weight: 900;
            font-size: 32px;
            line-height: 114%;
          }
        }
      }
    }
  }
}
