#preferences {
  .container {
    gap: clamp(50px, 10vw, 128px);

    @media (max-width: 991px) {
      gap: 2rem;
    }

    @media (max-width: 767px) {
      gap: 64px;
    }

    aside {
      position: sticky;
      top: 2rem;
      width: 251.8px;
      gap: 24px;

      @media (max-width: 991px) {
        gap: 20px;
        width: 230px;
      }

      @media (max-width: 767px) {
        width: 100%;
        position: static;
      }

      h5 {
        transition: color 0.3s ease;
        color: #cdcecd;
      }

      h3 {
        transition: color 0.3s ease;
        color: #adb0b2;
      }

      > div {
        cursor: pointer;

        &:hover {
          h5 {
            color: #83888f;
          }

          h3 {
            color: var(--primary);
          }
        }

        &:focus,
        &:active {
          h5 {
            color: #83888f;
          }

          h3 {
            color: var(--primary);
          }
        }
      }

      .active {
        h5 {
          color: var(--green-500);
        }

        h3 {
          color: var(--primary);
        }

        &:hover {
          h5 {
            color: var(--green-500);
          }

          h3 {
            color: var(--primary);
          }
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        opacity: 25%;
        background-color: #83888f;
      }
    }

    .chooses-wrapper {
      flex: 1;
      gap: 80px;

      @media (max-width: 767px) {
        gap: 48px;
      }

      .accordion-item {
        border: none;
        background-color: transparent;

        .accordion-button {
          background-color: transparent;
          padding: 0;

          &:not(.collapsed) {
            color: transparent;
            background-color: transparent;
            box-shadow: none;
          }

          &:focus {
            box-shadow: none;
          }

          &::after {
            width: 18.2px;
            height: 12px;
            background-image: url(../images/preferences/preferences-arrow.svg);
          }

          h2.title {
            color: #83888f;

            @media (max-width: 575px) {
              font-size: 28px;
            }
          }
        }

        .accordion-body {
          padding: 0;
          padding-top: 48px;

          @media (max-width: 767px) {
            padding-top: 32px;
          }

          @media (max-width: 575px) {
            padding-top: 24px;
          }

          .box {
            background-color: #f4f1eb;
            padding: 32px 24px;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s ease;
            height: 100%;

            @media (max-width: 991px) {
              padding: 20px 24px;
            }

            @media (max-width: 575px) {
              padding: 20px;
            }

            &:hover {
              background-color: var(--accent);
            }

            &:focus,
            &:active {
              background-color: var(--accent);
              box-shadow:
                inset 0px 0px 0px 3px var(--secondary),
                0px 0px 0px 3px var(--green-500);
            }

            &.active {
              background-color: var(--green-500);
              h3,
              p {
                color: var(--secondary);
              }

              &:hover {
                background-color: var(--green-500);
              }

              &:focus,
              &:active {
                background-color: var(--green-500);
                box-shadow: none;
              }
            }

            h3.card-title {
              white-space: wrap;
              overflow-wrap: break-word;
              word-break: break-word;
            }
          }
        }
      }

      .order-summary {
        .details {
          background: url("../images/preferences/order-summary-bg.png")
            center/cover;
          margin-bottom: 48px;
          padding: 48px 64px;
          border-radius: 12px;

          @media (max-width: 767px) {
            padding: 48px;
            margin-bottom: 32px;
            margin-top: 1rem;
          }

          @media (max-width: 575px) {
            padding: 48px 24px;
          }

          p.des {
            color: #ffffff;
            opacity: 50.37%;
            text-transform: uppercase;
          }

          h3.card-title {
            white-space: wrap;

            span {
              color: var(--green-500);
              font-family: var(--font-title);
            }
          }
        }

        a.btn {
          transition: all 0.3s ease;

          &:active,
          &:focus {
            border: none;
            background-color: var(--green-500);
            color: var(--secondary);
            box-shadow:
              0px 0px 0px 2px var(--green-500),
              inset 0px 0px 0px 3px var(--secondary);
            border-radius: 8px;
          }
        }
      }
    }
  }
}
