#fixed-up-btn {
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  right: 1.5rem;

  width: 3rem;
  height: 3rem;
  background-color: var(--green-500);
  box-shadow: 0 3px 10px 1px var(--primary);

  i {
    color: var(--secondary);
    font-size: 1.5rem;
  }
}
