header {
  padding-top: clamp(24px, 6vw, 40px);

  .container {
    > a img:first-child {
      @media (max-width: 575px) {
        width: 160px;
      }
    }

    .navbar-toggler {
      img {
        display: none;
      }

      i {
        display: block;
        font-size: 18px;
      }
      /* &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        width: 0px;
        height: 0px;
        box-shadow: 0 0 20px 5px rgb(0, 0, 0);
      } */
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
      position: relative;
      outline: none;
      box-shadow: none;
    }

    .collapsed {
      img {
        display: block;
      }

      i {
        display: none;
      }
    }

    nav {
      gap: 33px;

      @media (max-width: 575px) {
        gap: 20px;
      }

      a {
        color: #83888f;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        transition: color 0.5s ease;

        overflow: hidden;
        position: relative;
        display: inline-block;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
        }

        &::before {
          background-color: var(--primary);
          height: 2px;
          bottom: 0;
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &::after {
          content: attr(data-replace);
          height: 100%;
          top: 0;
          transform-origin: 100% 50%;
          transform: translate3d(200%, 0, 0);
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          color: var(--primary);
        }

        &:hover::before {
          transform-origin: 0% 50%;
          transform: scaleX(1);
        }

        &:hover::after {
          transform: translate3d(0, 0, 0);
        }

        span {
          color: #83888f;
          display: inline-block;
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }

        &:hover span {
          transform: translate3d(-200%, 0, 0);
        }

        &.active {
          &::before {
            background-color: var(--green-500);
            transform-origin: 0% 50%;
            transform: scaleX(1);
          }

          &::after {
            color: var(--green-500);
            transform: translate3d(0, 0, 0);
          }

          span {
            transform: translate3d(-200%, 0, 0);
          }
        }

        /* &:hover {
          color: var(--primary);
        } */
      }
    }
  }
}
