#about-hero-sec {
  margin-top: 40px;

  .container {
    .content {
      background: url(../images/hero-sec/bg-lg.png) center/cover;
      padding: 140px 80px;

      @media (max-width: 767px) {
        background: url(../images/hero-sec/bg-md.png) center/cover;
        padding: 80px 3rem;
      }

      @media (max-width: 575px) {
        background: url(../images/hero-sec/bg-sm.png) center/cover;
        padding: 80px 20px;
      }

      h1.title {
        @media (max-width: 767px) {
          font-size: 32px;
          line-height: 140%;
        }

        @media (max-width: 575px) {
          font-size: 28px;
          line-height: 120%;
        }
      }

      p {
        width: 445px;
        max-width: 100%;
      }

    }
  }
}