body {
  overflow: hidden;
}

#popup-modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  height: 100vh;

  @media (max-width: 767px) {
    padding-top: 160px;
  }

  @media (max-width: 575px) {
    padding-top: 157px;
  }

  .overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333d4bb3;
  }

  .order-summary {
    width: 540px;
    max-width: 82.933333333333%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 8px;

    .head {
      background: url(./images/bg.png) center/cover;
      padding: 44px 48px;

      @media (max-width: 575px) {
        padding: 24px 16px;
      }

      h2 {
        @media (max-width: 575px) {
          font-size: 28px;
        }
      }
    }

    .content {
      background-color: var(--secondary);
      padding: 48px;

      @media (max-width: 575px) {
        padding: 24px 16px;
      }

      h3.card-title {
        color: #83888f;
        white-space: wrap;
        margin-bottom: 20px;

        span {
          color: var(--green-500);
          font-family: var(--font-title);
        }
      }

      .summary {
        margin-top: 48px;

        @media (max-width: 575px) {
          margin-top: 32px;
        }

        h5 {
          font-weight: 900;
          font-size: 32px;
          line-height: 114%;
        }
      }
    }
  }
}
